<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Organization" ng-app="devternity" ng-controller="LandingPageController" class="lt-ie9">
  <head>

    <link rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png"/>
    <meta charset="UTF-8">

    <title>🚀 DevTernity – Software Development Conference</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author"               content="DevTernity">
    <meta http-equiv="x-ua-compatible" content="ie=edge">    
    <meta name="description"          content="The premium-quality annual international software development conference. DevTernity is a place where forward-thinking developers, pragmatic architects and engineering leaders grow." />
    <meta name="keywords"             content="software craftsmanship conferences, software development conferences, software developer conferences, developer conference, java conferences" />
    <meta name="robots"               content="index,follow"/>
    <meta property="og:url"           content="http://devternity.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="DevTernity" />
    <meta property="og:description"   content="The premium-quality annual international software development conference. DevTernity is a place where forward-thinking developers, pragmatic architects and engineering leaders grow." />
    <meta property="og:image"         content="http://devternity.com/images/logo_2017_filled.png" />
    <meta property="og:image:width"   content="512" />
    <meta property="og:image:height"  content="512" />
    <meta itemprop="name"             content="DevTernity"/>
    <meta itemprop="description"      content="The premium-quality annual international software development conference. DevTernity is a place where forward-thinking developers, pragmatic architects and engineering leaders grow."/>
    <meta itemprop="image"            content="http://devternity.com/images/logo_2017_filled.png"/>



    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/all.js"></script>
    <script src="https://connect.facebook.net/en_US/all.js#xfbml=1" async defer></script>

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-66135177-1', 'auto');
      | ga('send', 'pageview');

    script
      | !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      | n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      | n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      | t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      | document,'script','https://connect.facebook.net/en_US/fbevents.js');

      | fbq('init', '1655374961370442');
      | fbq('track', "PageView");

    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1655374961370442&ev=PageView&noscript=1")

    <link rel="icon" type="image/png" href="http://devternity.com/images/logo_2017_filled.png">
    <link rel="stylesheet" href="css/remodal.css" />

     <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
     
    style(type="text/css")
      | #devternity-loading {
      |   z-index: 10001;
      |   position: fixed;
      | }

      | #devternity-loading div.loading-container {
      |   background-color: #333333;
      |  bottom: 0px;
      |   left: 0px;
      |   opacity: 1.0;
      |   position: fixed;
      |  right: 0px;
      |   top: 0px;
      |   z-index: 999999;
      | }

      | #devternity-loading div.messaging {
      |  color: #FFFFFF;
      |   left: 0px;
      |   margin-top: -37px;
      |   position: absolute;
      |   right: 0px;
      |   text-align: center;
      |   top: 50%;
      | }

  </head>
  <body class="landing">

    <div id="devternity-loading">         
        <div class="loading-container">
            <div class="messaging">
                <div>
                    <img src="images/logo_2017.png">
                </div>
            </div>
        </div>
    </div>

  <div id="fb-root"></div>
  script
    | (function(d, s, id) {
    | var js, fjs = d.getElementsByTagName(s)[0];
    | if (d.getElementById(id)) return;
    | js = d.createElement(s); js.id = id;
    | js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=433199826742778";
    | fjs.parentNode.insertBefore(js, fjs);
    | }(document, 'script', 'facebook-jssdk'));
  <header id="header">
    <nav id="nav">
      <ul>
        <li><a href="https://twitter.com/devternity" rel="noopener" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/devternity" rel="noopener" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://go.devternity.com/linkedin" rel="noopener" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/devternity/" rel="noopener" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://youtube.com/c/DevTernity" rel="noopener" target="_blank"><i class="fa fa-youtube"></i></a></li>    
      </ul>
    </nav>
  </header>

      
      <section id="banner" class="wrapper style1">
        <img src="images/btc_accepted.png" id="btc" />
        <div>
          <img src="images/logo_2017.png" />
          <h2>&nbsp; DevTernity.</h2>
        </div>

        <p>The place where forward-thinking developers, pragmatic architects and engineering leaders grow.</p>

        <div class="container intro">
            <div class="row">
              <section class="1u">&nbsp;</section>
              each event in data
                <section class="event #{10/data.length}u 12u$(small) align-center" style="background-image:url(/images/#{event.city_img})">
                  <h3>
                    | #{event.theme} #{event.city} 
                    if event.status == 'booked'
                      <span class="label warn">BOOKED</span>
                    if event.status == 'on_sale'
                      <span class="label ok">ON SALE</span>
                  </h3>
                  <h5><i class="fa fa-calendar" aria-hidden="true"></i> #{event.date}. #{event.city}, #{event.country}</h5>                            
                  <h5>
                      <timer ng-if="#{event.date_epoch} | noOverdue" end-time="#{event.date_epoch}">Starts in <strong>{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} min {{seconds}} seconds </strong></timer>                  
                  </h5>
                  <h5 ng-if="!(#{event.date_epoch} | noOverdue)">The event has ended</h5>
                  <ul class="actions">
                    <li>
                      <a class="button big" href="#{event.loc}">Visit website</a>
                      <br /><br />
                    </li>           
                  </ul>         
                </section>
              <section class="1u">&nbsp;</section>
            </div>
        </div>
      </section>
      <section class="wrapper style1 align-center">
        <div class="container intro">
          <header>
            <h2></h2>
            <p> DevTernity is <strong>the premium-quality international software development conference</strong>.
            </p>
            <p>
            </p>
            <h2></h2>

            <h2></h2>
            <p>DevTernity does not specialize in a particular framework, technology or language because they come and go. <strong>We focus on fundamental building blocks and practices necessary for building better, modern software systems</strong>.</p>
            <h2></h2>
            <p>DevTernity is a place where <strong>forward-thinking developers, pragmatic architects and engineering leaders grow</strong>.</strong>
            </p>
            <p>
            </p>
            <h2></h2>
          </header>
          <h2>5 things that make DevTernity awesome</h2>
          <div class="row 200% why">


            <section class="6u 12u$(small) align-left">
              <h3>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <strong class="fa-stack-1x" style="color: #4dac71">1</strong>
                </span> Fluent, technically skilled and inspiring speakers
              </h3>
              <h5>We invite speakers based on their track record and community feedback. No promo, sponsored or filler talks.</h5>                            
            </section>


            <section class="6u 12u$(small) align-left">
              <h3>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <strong class="fa-stack-1x" style="color: #4dac71">2</strong>
                </span> Unique, valuable and up-to-date content</h3>
              <h5>Every talk undergo the rigour review by the content committee. The committee comprise of well-known conference speakers and industry experts.</h5>          
            </section>      

            <section class="6u 12u$(small) align-left">
              <h3>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <strong class="fa-stack-1x" style="color: #4dac71">3</strong>
                </span> Cross-discipline topics
              </h3>
              <h5>As a distinguished professional, you need to be comfortable at many topics. Therefore we cover the latest developments in coding, architecture, operations, security, leadership and other relevant IT areas.</h5>              
            </section>    
            <section class="6u 12u$(small) align-left">
              <h3>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <strong class="fa-stack-1x" style="color: #4dac71">4</strong>
                </span> Intensive and saturated program
              </h3>
              <h5>Your time is money, that’s why DevTernity is two-day long. The intensive talks day, followed by practical workshops.</h5>             
            </section>        

            <section class="6u 12u$(small) align-left">
              <h3>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <strong class="fa-stack-1x" style="color: #4dac71">5</strong>
                </span> Excellent location
              </h3>
              <h5>DevTernity runs in the heart of Europe and connected by direct flights with most EU airports. The location is both stunning and affordable for foreign visitors.</h5>             
            </section>      
          </div>          
        </div>
      </section>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <section class="12u">
            </section>
          </div>
          <div class="row">
            <section class="6u 12u$(small)">
              <h3>Organisers</h3>
              <p>DevTernity is organised with pride, love <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> and care by <a target="_blank" href="http://www.latcraft.lv">Latvian Software Craftsmanship Community</a>.</p>
              <img src="images/team.jpg" style="width:90%; border: 2px solid black; "/>
            </section>
            <section class="6u 12u$(small)">
              <h3>Follow Us</h3>
              <ul class="icons">
                <li><a href="https://twitter.com/devternity" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/devternity" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="http://go.devternity.com/linkedin" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://www.instagram.com/devternity/" class="icon rounded fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://youtube.com/c/DevTernity" class="icon rounded fa-youtube"><span class="label">YouTube</span></a></li>                
              </ul>
              <h3>GitHub Shields</h3>
              <ul style="list-style-type: none;">
                <li><a href="https://github.com/devternity/graphics/"><img src="shields/attending.svg" /></a></li>
                <li><a href="https://github.com/devternity/graphics/"><img src="shields/fellow.svg" /></a></li>
                <li><a href="https://github.com/devternity/graphics/"><img src="shields/speaker.svg" /></a></li>
                <li><a href="https://github.com/devternity/graphics/"><img src="shields/sponsor.svg" /></a></li>
                <li><a href="https://github.com/devternity/graphics/"><img src="shields/recommends.svg" /></a></li>
              </ul>
              <ul class="tabular">
                <li>
                  <h3>Mail</h3>
                  <a href="mailto:hello@devternity.com">hello@devternity.com</a>
                </li>
                <li>
                  <h3>Phone</h3>(+371) 288 14 170 🇬🇧 🇷🇺 🇱🇻
                </li>
              </ul>
            </section>
          </div>
        </div>
        <ul class="copyright">
          <li>&copy; DevTernity. All rights reserved.</li>
        </ul>
      </footer>
  </body>
</html>
