doctype html
html(lang="en" ng-app="devternity" ng-controller="LandingPageController" class="lt-ie9")
  head
    meta(charset="UTF-8")
    title 🚀 #{data.theme} – The Top Tech Conference in Europe
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="DevTernity")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="google-site-verification" content="b0JWvPtZAQJNl2DMy0flSRjC7xxN9g10Yhu_hSszLLw")
    meta(name="description" content="The top tech conference in Europe. We turn developers into architects and engineering leaders since 2015.")
    meta(name="keywords" content="software craftsmanship conferences, software development conferences, software developer conferences, developer conference, java conferences")
    meta(name="robots" content="index,follow")
    meta(property="og:url" content="http://devternity.com")
    meta(property="og:type" content="website")
    meta(property="og:title" content="DevTernity")
    meta(property="og:description" content="The premium-quality annual international software development conference. DevTernity is the place where developers, architects and engineering leaders grow.")
    meta(property="og:image" content="https://devternity.com/images/logo_2017_filled.png")
    meta(property="og:image:width" content="512")
    meta(property="og:image:height" content="512")
    meta(name="p:domain_verify" content="f56aab43251f5fa394e371ae54ec3d06")
    link(rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png")
    link(rel="icon" href="/images/favicon.png")
    link(rel="shortcut icon" sizes="64x64" href="/images/favicon.png")


    |<!--[if lte IE 8]>
    script(src="css/ie/html5shiv.js")
    |<![endif]-->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-timer/1.3.3/angular-timer.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skel/2.2.0/skel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" async defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.12.1/humanize-duration.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skel-layers/2.2.0/skel.min.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")

    script(src="js/exit.js")
    script(src="js/all.js?purge")
    script(src="https://connect.facebook.net/en_US/all.js#xfbml=1" async defer)
    script(type="application/ld+json")
      | {
      |   "@context": "http://schema.org",
      |   "@type": "Organization",
      |   "name": "DevTernity",
      |   "url": "https://devternity.com",
      |   "sameAs": [
      - var index = 0
      each link, social in data.socials
        | "#{link}"
        if ++index != Object.keys(data.socials).length
          |,
      |   ]
      | }      

    script(type="application/ld+json")
      | {
      |   "@context": "http://schema.org",
      |   "@type": "EducationEvent",
      |   "name": "#{data.theme}",
      |   "image": "http://devternity.com/images/logo_2017_filled.png",
      |   "description": "The premium-quality annual international software development conference in #{data.city}, #{data.country}",
      |   "startDate": "#{data.date_iso}T09:00",
      |   "endDate": "#{data.date_iso}T20:00",
      |   "performer": {
      |     "@type": "Organization",
      |     "name": "DevTernity",
      |     "sameAs": "https://devternity.com/"
      |   },
      |   "location": {
      |     "@type": "Place",
      |     "address": {
      |       "@type": "PostalAddress",
      |       "addressLocality": "#{data.city}",
      |       "addressRegion": "#{data.country}",
      |       "postalCode": "#{data.venue_postal_code}",      
      |       "streetAddress": "#{data.venue_address}"
      |     },
      |     "name": "#{data.venue_name}"
      |   }
      | }      
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-66135177-1', 'auto');
      | ga('send', 'pageview');

    script
      | !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      | n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      | n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      | t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      | document,'script','https://connect.facebook.net/en_US/fbevents.js');

      | fbq('init', '1655374961370442');
      | fbq('track', "PageView");

    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1655374961370442&ev=PageView&noscript=1")

    link(rel="icon" type="image/png" href="https://devternity.com/images/logo_2017_filled.png")
    link(rel="stylesheet" href="css/remodal.css")
         
    style(type="text/css")
      | #devternity-loading {
      |   z-index: 10001;
      |   position: fixed;
      | }

      | #devternity-loading div.loading-container {
      |   background-color: #353c46;
      |   bottom: 0px;
      |   left: 0px;
      |   opacity: 1.0;
      |   position: fixed;
      |   right: 0px;
      |   top: 0px;
      |   z-index: 999999;
      | }

      | #devternity-loading div.messaging {
      |   color: #FFFFFF;
      |   left: 0px;
      |   margin-top: -37px;
      |   position: absolute;
      |   right: 0px;
      |   text-align: center;
      |   top: 50%;
      | }

  body.landing

    div#devternity-loading
        div.loading-container: div.messaging: div: img(src="images/logo_2017.png")

    header#header
      nav#nav
        ul
          li: a(href="code_of_conduct.html" alt="Code of Conduct") Code of Conduct
          each link, social in data.socials
            li
              a(href=link)
                i(class=`fab fa-${social}`)
          each history in data.history
            li: a(href=`/rix/${history}` alt=`DevTernity ${history}`) #{history}

    <!-- Banner -->
      section#banner
        img#trust(src="images/trustpilot.png")
        div
          img(src="images/logo_2017.png")
          h2 &nbsp;DevTernity

        p=data.desc
        p #{data.date}. #{data.city}, #{data.country}.
        ul.actions
          if data.status == "on_sale"
            li
              a.button.big.pulse(ng-click="slideTo('#tickets-container')") Get tickets
              br
              br
              timer(end-time=`${data.date_epoch}`)
               | We start in 
               strong(style="color: white") {{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minutes {{seconds}} seconds
          if data.status == "booked"
            li
              a.button.big We are fully booked
              br
              br
              ul.links
                li Follow us —
                each link, social in data.socials
                  li
                    a(href=link)
                      i(class=`fab fa-${social}`)

      section.wrapper.style1.align-center
        div.container.intro
          header
            h2
            p 
              | DevTernity is the top tech conference in Latvia, ranked among Top 20 tech conferences in Europe.
            h2
            p 
              | We turn developers into architects and engineering leaders since 2015.
            p
            h2
            p Here you learn more than on other conferences. We focus on the core areas that are paramount to your success — 
              em software architecture
              |  
              em clean code
              |  and 
              em leadership
              | . All noise is removed and can be learned elsewhere.
          //- h2 Why the best developers choose DevTernity?
          //- div(class="row 200% why")
          //-   each text, title in data.benefits
          //-     section(class="6u 12u$(small) align-left")
          //-       h3
          //-         i.fa.fa-check-circle(aria-hidden="true")
          //-         |  #{title}
        div
          a.button(href="why.html") 25 reasons why developers choose DevTernity
        .fb-like(data-width="320px" data-href="https://www.facebook.com/devternity" data-layout="standard" data-action="like" data-show-faces="true" style="min-height: 100px; margin-top: 30px")                    
      section.wrapper.align-center(data-remodal-id="venue-location")
          button.remodal-close(data-remodal-action="close")
          div.embed-container
            iframe(src='https://player.vimeo.com/video/265964598' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)

      section#speakers-container.wrapper.speakers.align-center
        div.container
          header
            h1 
              | Inspiring Talks 
              i.separator.fa.fa-ellipsis-v 
              |  Day I, #{data.days[0]}
            h2 
            p 
              em No Agile bullshit bingo and marketing talks permitted. See for yourself:
          each row in data.speakersInRows
            div.row
              each speaker, speakerrIndex in row
                if speaker.name
                  section(class="feature 3u 12u$(small)")
                      img.lazy.headshot(data-src=speaker.img, alt=speaker.name)
                      div.whoname
                        img.lazy(data-src=`images/flags/${speaker.country}.png` alt=`${speaker.country} flag`) 
                        |  #{speaker.name}
                      div.who !{speaker.bio}
                      if speaker.twitter
                        a(href=`https://twitter.com/${speaker.twitter}`)
                          i.fab.fa-twitter.follow-speaker(aria-hidden="true")

          div.row
            section(class="feature 12u 12u$(small)")
              if data.subscribeEnabled && data.hasUnknownSpeakers
                h3.title More coming soon. Subscribe for the final announcement alert:
                form.subscribe(ng-submit="onSubscribe()")
                  div {{subscribeMessage}}
                  input(type="email" ng-model="subscriber" placeholder="<your email address>")
                  input(type="submit" value="Subscribe")
                h5
                  each link, social in data.socials
                    a(href=link)
                      i(class=`fab fa-${social}`)
                    |  &nbsp;

      section#program-container.wrapper
          div.container
                div.row.header
                  each track in [1, 2, 3]
                    section(class="align-center feature 4u")
                      span.fa-layers.fa-2x
                        i.fa.fa-circle
                        strong.fa-layers-text.fa-inverse(data-fa-transform="shrink-7") #{track}
                      |  Track

                - var index = 0                                  
                each series, key in data.talks
                  div(class=`evt row ${++index % 2 == 0 ? 'even' : 'odd'}`)
                    each event in series
                      section(class="align-center feature " +  (series.length == 1 ? '12u' : '4u'))
                        | #{event.time}
                        br
                        if event.type == 'speech'
                          if event.title
                            a.pointer(ng-click=`popupSpeech(${event.uid})`) #{event.name}
                              br
                              strong!=event.title
                          else
                            span
                              i.fas.fa-clock 
                              |  amazing talk pending
                        else
                            span!=event.title
                        br
                        span #{event.tagList}
          each series, key in data.talks
              each event in series
                if event.type == 'speech' && event.title
                  div.container
                    section.wrapper.speech.tickets.align-center(data-remodal-id=`${event.uid}`)
                      button.remodal-close(data-remodal-action="close")
                      div.row
                        section(class="12u")
                          div
                            img.headshot(src=`${event.img}`)
                            p.whoname
                              img(src=`images/flags/${event.country}.png` alt=`${event.country} flag`)
                              |  #{event.name}
                            p.speaker-bio !{event.bio}
                          p.whoname: em !{event.title}
                          p.speaker !{event.description}

    section#workshops-container.wrapper.workshops.align-center
        div.container
          header
            h1             
              | Power Workshops 
              i.separator.fa.fa-ellipsis-v 
              |  Day II, #{data.days[1]} 
            h2 
            if data.workshops.length
              p
                em Our instructors are here to deliver full-day workshops. Go beyond theory with industry experts:
            else
              p Coming soon...

          each speaker in data.workshops
            div.row
              section(class="feature 6u 12u$(small)")
                img.lazy.headshot(data-src=`${speaker.img}`)
                div.whoname
                  img.lazy(data-src=`images/flags/${speaker.country}.png` alt=`${speaker.country}} flag`) 
                  |  #{speaker.name ? speaker.name : "Coming soon."} 
                  if speaker.twitter
                    a(href=`https://twitter.com/${speaker.twitter}`)
                      i.fab.fa-twitter.follow-speaker(aria-hidden="true")              
                div.who
                  strong !{speaker.bio}
                  br
                  | !{speaker.long_bio}
              section(class="feature 6u 12u$(small) align-left")
                h3
                  strong 
                    i.fas.fa-code
                    |  #{speaker.title} 
                  em (limited seats)
                h5 
                  span
                    if speaker.tags
                      if speaker.sold_out
                        span.tag.sold SOLD OUT
                        | 
                      if speaker.sold_out_soon
                        span.tag.sold 
                          i.fab.fa-hotjar
                          |  FEW TICKETS LEFT
                        | 
                      each tag, index in speaker.tags
                        span.tag ##{tag}
                        if index != speaker.tags.length - 1 
                          |  
                div.who !{speaker.description}
          if data.subscribeEnabled && data.hasUnknownWorkshops
            br
            h3.title More coming soon. Subscribe for the final announcement alert:
            form.subscribe(ng-submit="onSubscribe()")
              div {{subscribeMessage}}
              input(type="email" ng-model="subscriber" placeholder="<your email address>")
              input(type="submit" value="Subscribe")          
            h5
              each link, social in data.socials
                a(href=link)
                  i(class=`fab fa-${social}`)
                |  &nbsp;        
          #fb-root
            script (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
    section#tickets-container.wrapper.style1.tickets.align-center
      div.container
        header
          h1 Tickets to the key event of the year.
          h2
          p
            em This is the limited offer.
            br
            br 
            |  There is no point to wait until the last moment, because we'll charge you more. Secure your seat now. You will be able to change the information about the participants later. Free of charge.

        div.row
          section(class="tick feature 12u 12u$(medium) 12u$(small)")
            div.row
                section(class="4u 12u$(small)" ng-repeat="product in event.pricing.packages | packages")
                  h3.product(ng-class="{'attention' : product.attention, 'fade-attention': !product.attention}")
                    span(style="font-weight: bolder") {{product.name}}
                    br
                    span(ng-if="!product.sold_out && event.status == 'on_sale'")
                      span(ng-if="product.attention") 🚀
                      span.fa-layers.fa-fw.fa-3x.best(ng-if="product.attention")
                          i.fas.fa-certificate(style="color:#ffffff")
                          i.fas.fa-certificate(style="color:#e2333f" data-fa-transform="shrink-1")
                          span.fa-layers-text.fa-inverse(data-fa-transform="shrink-11.5 rotate--30") BEST
                      span {{product.price}} 
                      strike {{product.price + product.extra}}
                      | €
                      br
                      i.fas(style="font-size: 40px" ng-class="product.battery")
                      br
                      //- remove width auto after CDN cache expires
                      a.button(ng-if="event.status != 'booked'" href="{{event.register}}" style="padding: 0 0.5em; width: auto") Buy
                    span(ng-if="product.sold_out || event.status == 'booked'") SOLD OUT

    if data.sponsorship
      section#support-container.wrapper
          div.container
            header.align-center
              h1 Sponsors            
              h2 
              p
                em We are partnering with amazing companies that have continuous learning and innovation in their DNA:              
              each package, key in data.sponsorship 
                br
                div.row.align-center
                  each sponsor, index in package.sponsors
                    section(class=`${12 / package.sponsorsPerLine}u 12u$(medium)`)
                      a(target="_blank" rel="noopener" href=sponsor.link)
                        img.lazy(style="max-width: 250px; max-height: 100px" class=`${package.grayscale ? 'grayscale' : ''}` data-src=`images/${sponsor.logo}`)
                      br
                      - var star = 0
                      while star++ < package.stars
                        i.fa.fa-star(aria-hidden="true" style="color: orange")
                      em
                        if package.title  
                          |  #{package.title} 
                        if sponsor.since
                          |  (since #{sponsor.since})
                      p !{sponsor.info}
                  br
            p.align-center(style="margin-top: 100px")
              a.button.pulse(style="padding: 0 1em" href=`mailto:${data.contactEmail}?subject=Sponsorship`) Become a sponsor                      
    footer#footer
      div.container
        div.row
          section(class="12u")
        div.row
          section(class="6u 12u$(small)")
            h3 Organisers
            p
              | DevTernity is organised with love 
              i.fa.fa-heart(style="color: red" aria-hidden="true")
              |  and care 
              i.fa.fa-leaf(style="color: #4dac71" aria-hidden="true")
              |   by the leaders of Latvian software craftsmanship community: 
            img.lazy(data-src="images/team.jpg" style="width: 100%")
          section(class="6u 12u$(small)")
            h3 Let's stay connected:
            ul.icons
              each link, social in data.socials
                li
                  a(href=link)
                    i(class=`fab fa-${social}`)
            ul.tabular
              li
                h3 Mail
                a(href=`mailto:${data.contactEmail}`) #{data.contactEmail}
              li
                h3 Phone
                | (+371) 28814170

      section#exitOffer(data-remodal-id="exitOffer")
        form(ng-controller="ExitOfferController" name="exitOffer")
          h2 
            | Lucky you! Here is the secret deal 
            i.fas.fa-user-secret(aria-hidden="true")
          div
            input#email(type="email" ng-model="email")
            br
            input(type="button" value="Receive limited 60€ discount" ng-click="onDiscount()" ng-disabled="!email || exitOffer.$error.email")
            br
            br
            p {{subscribeMessage}}
            strong: a(href="#" data-remodal-action="close") No, thanks. Already have my ticket.
      ul.copyright
        li &copy; DevTernity OÜ, 14226860, Mõisavahe tn 38-129 Tartu, Estonia. 
        br 
        | All rights reserved.

    script(type="text/javascript")
      | var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      | (function(){
      | var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      | s1.async=true;
      | s1.src='https://embed.tawk.to/58ca5310f42d220ab327a8d7/default';
      | s1.charset='UTF-8';
      | s1.setAttribute('crossorigin','*');
      | s0.parentNode.insertBefore(s1,s0);
      | })();

    script(type="text/javascript")
      | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47893700 = new Ya.Metrika2({ id:47893700, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");
    noscript
      div
        img(src="https://mc.yandex.ru/watch/47893700" style="position:absolute; left:-9999px;" alt="")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js")
    script.
        window.lazyLoad = new LazyLoad({
            elements_selector: 'img.lazy',
            treshold: 500
        });