doctype html
html(lang="en" ng-app="devternity" ng-controller="LandingPageController" class="lt-ie9")
  head
    meta(charset="UTF-8")
    title 🚀 #{data.theme} – Software Development Conference
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="DevTernity")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="The premium-quality annual international software development conference. DevTernity is a place where forward-thinking developers, pragmatic architects and engineering leaders grow.")
    meta(name="keywords" content="software craftsmanship conferences, software development conferences, software developer conferences, developer conference, java conferences")
    meta(name="robots" content="index,follow")
    meta(property="og:url" content="http://devternity.com")
    meta(property="og:type" content="website")
    meta(property="og:title" content="DevTernity")
    meta(property="og:description" content="The premium-quality annual international software development conference. DevTernity is a place where forward-thinking developers, pragmatic architects and engineering leaders grow.")
    meta(property="og:image" content="https://devternity.com/images/logo_2017_filled.png")
    meta(property="og:image:width" content="512")
    meta(property="og:image:height" content="512")
    meta(name="p:domain_verify" content="f56aab43251f5fa394e371ae54ec3d06")
    link(rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png")
    link(rel="icon" href="/images/favicon.png")
    link(rel="shortcut icon" sizes="64x64" href="/images/favicon.png")

    |<!--[if lte IE 8]>
    script(src="css/ie/html5shiv.js")
    |<![endif]-->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-timer/1.3.3/angular-timer.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skel/2.2.0/skel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" async defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.12.1/humanize-duration.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skel-layers/2.2.0/skel.min.js")
    script(src="js/all.js")
    script(src="https://connect.facebook.net/en_US/all.js#xfbml=1" async defer)
    script(type="application/ld+json")
      | {
      |   "@context": "http://schema.org",
      |   "@type": "Organization",
      |   "name": "DevTernity",
      |   "url": "https://devternity.com",
      |   "sameAs": [
      - var index = 0
      each link, social in data.socials
        | "#{link}"
        if ++index != Object.keys(data.socials).length
          |,
      |   ]
      | }      

    script(type="application/ld+json")
      | {
      |   "@context": "http://schema.org",
      |   "@type": "EducationEvent",
      |   "name": "#{data.theme}",
      |   "image": "http://devternity.com/images/logo_2017_filled.png",
      |   "description": "The premium-quality annual international software development conference in #{data.city}, #{data.country}",
      |   "startDate": "#{data.date_iso}T09:00",
      |   "endDate": "#{data.date_iso}T20:00",
      |   "performer": {
      |     "@type": "Organization",
      |     "name": "DevTernity",
      |     "sameAs": "https://devternity.com/"
      |   },  
      |   "offers": [
      |     {
      |         "@type": "Offer",
      |         "url": "#{data.register}?main",
      |         "name": "Main Day",
      |         "price": "#{data.pricing ? data.pricing.products[0].price : ''}",
      |         "priceCurrency": "EUR",
      |         "availability": "http://schema.org/InStock"
      |       },  
      |     {
      |         "@type": "Offer",
      |         "name": "Workshop",        
      |         "url": "#{data.register}?workshop",
      |         "validFrom": "#{data.build_time_iso}",
      |         "price": "#{data.pricing ? data.pricing.products[1].price : ''}",
      |         "priceCurrency": "EUR",
      |         "availability": "http://schema.org/InStock"
      |       }      
      |   ],
      |   "location": {
      |     "@type": "Place",
      |     "address": {
      |       "@type": "PostalAddress",
      |       "addressLocality": "#{data.city}",
      |       "addressRegion": "#{data.country}",
      |       "postalCode": "#{data.venue_postal_code}",      
      |       "streetAddress": "#{data.venue_address}"
      |     },
      |     "name": "#{data.venue_name}"
      |   }
      | }      
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-66135177-1', 'auto');
      | ga('send', 'pageview');

    script
      | !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      | n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      | n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      | t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      | document,'script','https://connect.facebook.net/en_US/fbevents.js');

      | fbq('init', '1655374961370442');
      | fbq('track', "PageView");

    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1655374961370442&ev=PageView&noscript=1")

    link(rel="icon" type="image/png" href="http://devternity.com/images/logo_2017_filled.png")
    link(rel="stylesheet" href="css/remodal.css")
         
    style(type="text/css")
      | #devternity-loading {
      |   z-index: 10001;
      |   position: fixed;
      | }

      | #devternity-loading div.loading-container {
      |   background-color: #333333;
      |  bottom: 0px;
      |   left: 0px;
      |   opacity: 1.0;
      |   position: fixed;
      |  right: 0px;
      |   top: 0px;
      |   z-index: 999999;
      | }

      | #devternity-loading div.messaging {
      |  color: #FFFFFF;
      |   left: 0px;
      |   margin-top: -37px;
      |   position: absolute;
      |   right: 0px;
      |   text-align: center;
      |   top: 50%;
      | }

  body.landing

    div#devternity-loading
        div.loading-container: div.messaging: div: img(src="images/logo_2017.png")

    header#header
      nav#nav
        ul
          li: a(ng-click="slideTo('#program-container')" alt="Talks") Talks
          li: a(ng-click="slideTo('#workshops-container')" alt="Workshops") Workshops
          if data.sponsorship
            li: a(ng-click="slideTo('#support-container')" alt="Sponsors") Sponsors
          li: a(href="code_of_conduct.html" alt="Code of Conduct") Code of Conduct
          li: strong: a(href="http://go.devternity.com/rix_volunteer" alt="Call for Volunteers") Volunteer
          li: strong: a(ng-click="slideTo('#tickets-container')") Attend
          each link, social in data.socials
            li
              a(href=link)
                i(class=`fa fa-${social}`)
          each history in data.history
            li: a(href=`/rix/${history}` alt=`DevTernity ${history}`) #{history}

    <!-- Banner -->
      section#banner
        img#btc(src="images/btc_accepted.png")
        div
          img(src="images/logo_2017.png")
          h2 &nbsp;DevTernity

        p=data.desc
        p #{data.date}. #{data.city}, #{data.country}.
        ul.actions
          if data.status == "on_sale"
            li
              a.button.big.pulse(ng-click="slideTo('#tickets-container')") Take me with you
              br
              br
              timer(end-time=`${data.date_epoch}`)
               | We start in 
               strong(style="color: white") {{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minutes {{seconds}} seconds
          if data.status == "booked"
            li
              a.button.big We are fully booked
              br
              br
              ul.links
                li Follow us —
                each link, social in data.socials
                  li
                    a(href=link)
                      i(class=`fa fa-${social}`)

      section.wrapper.style1.align-center
        div.container.intro
          header
            h2
            p 
              | DevTernity is 
              strong the premium-quality international software development conference in Riga, Latvia
              |.
            p
            h2
            h2
            p 
              | DevTernity does not specialize in a particular framework, technology or language because they come and go. 
              strong We focus on fundamental building blocks and practices necessary for building better, modern software systems
              |.
            h2
            p 
              | DevTernity is a place where 
              strong forward-thinking developers, pragmatic architects and engineering leaders grow
              |.
            p
            h2
          div(class="row 200%")
            section(class="3u 12u$(small)")
              i.icon.big.rounded.fa-calendar
              h3=data.date
            section.hotel(class="3u 12u$(small)")
              i.icon.big.rounded.fa-location-arrow
              h3 #{data.city}, #{data.venue_name}
              h5: a(href="#{data.venue_map}") Location on map
              h5 
                | The recommended hotel for attendees is #{data.hotel_name} (
                a(href="#{data.hotel_link}") book
                |, 
                a(href="#{data.hotel_to_venue_map}") see directions
                | )
            section(class="3u 12u$(small)")
              i.icon.big.rounded.fa-users
              h3 700 attendees, 20 talks, 3 tracks
            section(class="3u 12u$(small)")
              i.icon.big.rounded.fa-cogs
              h3 Full day of instructor-led workshops
          h2 &nbsp;
          h2 5 things that make DevTernity awesome
          div(class="row 200% why")
            - var index = 1
            each text, title in data.benefits
              section(class="6u 12u$(small) align-left")
                h3
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    strong.fa-stack-1x(style="color: #4dac71") #{index++}
                  |  #{title}
                p=text
        div#trailer
          input(type="button" value="Watch Video Trailer" style="padding: 0 1em" ng-click="watchPromo()")

      section.wrapper.align-center(data-remodal-id="trailer-vimeo")
          button.remodal-close(data-remodal-action="close")
          div.embed-container
            iframe(src='https://player.vimeo.com/video/247773795' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)

      section#speakers-container.wrapper.speakers.align-center
        div.container
          header
            h1 Day I: Inspiring Talks (#{data.days[0]})
            h2
            p 
              | We have invited speakers that are 
              strong fluent
              |, 
              strong technically skilled
              |  and 
              strong inspiring
              |.
            h2
            p No Agile bullshit bingo and marketing talks permitted. See for yourself:
          each row in data.speakersInRows
            div.row
              each speaker, speakerrIndex in row
                if speaker.name
                  section(class="feature 3u 12u$(small)")
                      img.lazy.headshot(data-src=speaker.img, alt=speaker.name)
                      div.whoname
                        img.lazy(data-src=`images/flags/${speaker.country}.png` alt=`${speaker.country} flag`) 
                        |  #{speaker.name}
                      div.who !{speaker.bio}
                      if speaker.twitter
                        a(href=`https://twitter.com/${speaker.twitter}`)
                          i.fa.fa-twitter.follow-speaker(aria-hidden="true")

          div.row
            section(class="feature 12u 12u$(small)")
              if data.hasUnknownSpeakers
                h3.title More coming soon. Subscribe for the final announcement alert:
                form.subscribe(ng-submit="onSubscribe()")
                  div {{subscribeMessage}}
                  input(type="email" ng-model="subscriber" placeholder="<your email address>")
                  input(type="submit" value="Subscribe")
                h5
                  each link, social in data.socials
                    a(href=link)
                      i(class=`fa fa-${social}`)
                    |  &nbsp;

      section#program-container.wrapper
          div.container
                div.row.header
                  each track in [1, 2, 3]
                    section(class="align-center feature 4u")
                      span(class="fa-stack fa-1x")
                        i(class="fa fa-circle fa-stack-2x")
                        strong(class="fa-stack-1x text-primary") #{track}
                      |  Track

                - var index = 0                                  
                each series, key in data.talks
                  div(class=`evt row ${++index % 2 == 0 ? 'even' : 'odd'}`)
                    each event in series
                      section(class="align-center feature " +  (series.length == 1 ? '12u' : '4u'))
                        | #{event.time}
                        br
                        if event.type == 'speech'
                          if event.title
                            a.pointer(ng-click=`popupSpeech(${event.uid})`) #{event.name}
                              br
                              strong #{event.title}
                          else
                            span ?
                        else
                            span #{event.title}
                        br
                        span #{event.tagList}
          each series, key in data.talks
              each event in series
                if event.type == 'speech' && event.title
                  div.container
                    section.wrapper.speech.tickets.align-center(data-remodal-id=`${event.uid}`)
                      button.remodal-close(data-remodal-action="close")
                      div.row
                        section(class="12u")
                          div
                            img.lazy.headshot(data-src=`${event.img}`)
                            p.whoname
                              img.lazy(data-src=`images/flags/${event.country}.png` alt=`${event.country} flag`)
                              |  #{event.name}
                            p !{event.bio}
                          p.speaker !{event.long_bio}
                          br
                          p.whoname #{event.title}
                          p.speaker !{event.description}

    section#workshops-container.wrapper.workshops.align-center
        div.container
          header
            h1 Day II: Power Workshops (#{data.days[1]})
            h2
            if data.workshops.length
              p 
                | Our instructors are here to deliver 
                strong pragmatic and intensive workshops
                | . Go beyond theory with industry experts:
            else
              p Coming soon...

          each speaker in data.workshops
            div.row
              section(class="feature 6u 12u$(small)")
                img.lazy.headshot(data-src=`${speaker.img}`)
                div.whoname
                  img.lazy(data-src=`images/flags/${speaker.country}.png` alt=`${speaker.country}} flag`) 
                  |  #{speaker.name ? speaker.name : "Coming soon."}
                div.who
                  strong !{speaker.bio}
                  br
                  | !{speaker.long_bio}
              section(class="feature 6u 12u$(small) align-left")
                h3
                  if speaker.sold_out
                    strong.sold SOLD OUT
                  if speaker.sold_out_soon
                    strong.sold FEW TICKETS LEFT
                  | 
                  i.fa.fa-clock-o(aria-hidden="true") 
                  |  #{speaker.time} 
                  strong #{speaker.title}
                h5 
                  span
                    if speaker.tags
                      each tag, index in speaker.tags
                        span.tag ##{tag}
                        if index != speaker.tags.length - 1 
                          |  
                div.who !{speaker.description}
          if data.hasUnknownWorkshops
            br
            h3.title More coming soon. Subscribe for the final announcement alert:
            form.subscribe(ng-submit="onSubscribe()")
              div {{subscribeMessage}}
              input(type="email" ng-model="subscriber" placeholder="<your email address>")
              input(type="submit" value="Subscribe")          
            h5
              each link, social in data.socials
                a(href=link)
                  i(class=`fa fa-${social}`)
                |  &nbsp;                

    section#tickets-container.wrapper.style1.tickets.align-center
      div.container
        header
          h1 Tickets
          p The number of seats is limited and every year we are running out of tickets quickly. Secure your seat now (and feel free to change the information about the participants later).

        div.row
          section(class="feature 3u 12u$(medium) 12u$(small)") 
            | &nbsp;
          section(class="tick feature 6u 12u$(medium) 12u$(small)")
            div.row: h3.title Tickets are limited
            div.row.nopadding
              each product in data.pricing.products
                section(class="4u 12u$(small)")
                  h3.product
                    if product.attention
                      i.fa.fa-ticket(aria-hidden="true")
                    i.fa.fa-ticket(aria-hidden="true")
                    |  #{product.name}
                    br
                    if !product.sold_out && data.status == 'on_sale'
                      if product.attention
                        | 🚀                  
                      span #{product.price} 
                      strike #{product.price + product.extra}
                      | €
                    if product.sold_out || data.status == 'booked'
                      span SOLD OUT
            div.row
              section(class="12u 12u$(small)")
                h5(style="color:black")
                  i.fa.fa-exclamation-circle(aria-hidden="true")
                  |  Prices will grow as ticket amount decreases.
            div.row
              section(class="12u 12u$(small)")
                input.pulse(type="button" value="Secure a seat now" style="padding: 0 1em" disabled=data.status == 'booked' ng-click=`buy('${data.register}')`)
          section(class="feature 3u 12u$(medium) 12u$(small)")
            | &nbsp;

        div.row
          section(class="feature 12u 12u$(small)")
            header.discounts
              h2 Special discounts
              div.row
                section(class="feature 4u 12u$(small)")
                  h3.title Individuals
                  div
                    p 
                      | We support people who take responsibility for their education. If you are self-funding your participation, you are entitled for a special discount. Please 
                      a(href=`mailto:${data.contactEmail}`) drop us
                      |  an email.
                section(class="feature 4u 12u$(small)")
                  h3.title Evangelists
                  div
                    p 
                      | Mention us on your blog/page/user group, rate our 
                      a(href="https://www.facebook.com/devternity") Facebook page
                      |  or leave a review on 
                      a(href="https://trustpilot.com/review/devternity.com") Trustpilot
                      | . Then 
                      a(href=`mailto:${data.contactEmail}`) drop us
                      |  an email and ask for discount.
                section(class="feature 4u 12u$(small)")
                  h3.title Sponsors
                  div
                    p 
                      | We provide sponsors with discount for supporting the event. Please 
                      a(href=`mailto:${data.contactEmail}`) contact us
                        |  and receive an exclusive sponsorship offer.



    if data.sponsorship                  
      section#support-container.wrapper
          div.container
            each package, key in data.sponsorship 
              header.align-center
                br
                h2
                  strong=package.title
                  - var star = 0
                  while star++ < package.stars
                    i.fa.fa-star(aria-hidden="true" style="color: orange")
                br
                div.row.align-center
                  each sponsor, index in package.sponsors
                    section(class=`${12 / package.sponsorsPerLine}u`)
                      a(target="_blank" rel="noopener" href=sponsor.link)
                        img.lazy(class=`${package.grayscale ? 'grayscale' : ''}` data-src=`images/${sponsor.logo}`)
                      p !{sponsor.info}
                  br
            p.align-center(style="margin-top: 100px")
              | Interested in becoming a sponsor and appearing at the event? 
              strong: a(href=`mailto:${data.contactEmail}`) Drop us
              |  an email.

    footer#footer
      div.container
        div.row
          section(class="12u")
        div.row
          section(class="6u 12u$(small)")
            h3 Organisers
            p
              | DevTernity is organised with pride, love 
              i.fa.fa-heart(style="color: red" aria-hidden="true")
              |  and care by 
              a(target="_blank" href="http://www.latcraft.lv") Latvian Software Craftsmanship Community
              | .
            img.lazy(data-src="images/team.jpg" style="width:90%; border: 2px solid black; ")
          section(class="6u 12u$(small)")
            h3 Follow Us
            ul.icons
              each link, social in data.socials
                li
                  a(href=link)
                    i(class=`icon rounded fa fa-${social}`)
            ul.tabular
              li
                h3 Mail
                a(href=`mailto:${data.contactEmail}`) #{data.contactEmail}
              li
                h3 Phone
                | (+371) 288 14 170 🇬🇧 🇷🇺 🇱🇻

      ul.copyright
        li &copy; DevTernity. All rights reserved

    script(type="text/javascript")
      | var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      | (function(){
      | var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      | s1.async=true;
      | s1.src='https://embed.tawk.to/58ca5310f42d220ab327a8d7/default';
      | s1.charset='UTF-8';
      | s1.setAttribute('crossorigin','*');
      | s0.parentNode.insertBefore(s1,s0);
      | })();

    script(type="text/javascript")
      | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47893700 = new Ya.Metrika2({ id:47893700, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");
    noscript
      div
        img(src="https://mc.yandex.ru/watch/47893700" style="position:absolute; left:-9999px;" alt="")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js")
    script.
        new LazyLoad({
            elements_selector: 'img.lazy',
            treshold: 500
        });