doctype html
html(lang="en")
  head
    - var no = 25
    meta(charset="UTF-8")
    title DevTernity — #{no} Reasons Why You Must be Here
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content=`There are at least ${no} reasons why you must be present at DevTernity.`)
    meta(name="keywords" content="")
    meta(name="robots" content="index,follow")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.8.6/page.min.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
    script(src="https://connect.facebook.net/en_US/all.js#xfbml=1" async defer)
    link(rel="shortcut icon" type="image/png" href="images/logo_2017_filled.png")
    link(rel="icon" href="/images/favicon.png")
    link(rel="shortcut icon" sizes="64x64" href="/images/favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    style
      | img.logo { margin: 20px }
      | .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
      | .is-rounded { object-fit: cover; object-position: center center; height: 100%; width: 100% ;border-radius: 250983px }
  body
    section.hero.is-info.is-bold
      .hero-head
        .container
          
      .hero-body
        .container
          img.is-inline.logo.image.is-96x96(src="/images/dt_logo_rect_white.png")
          h1.title #{no} reasons why best devs attend DevTernity
          h2.subtitle or why missing DevTernity is a BAD idea
    section.section
      .container
        .tile.is-ancestor
          .tile.is-6.is-vertical.is-parent
            .tile.is-child
              p.title Trust the choice of architects and engineering leaders
              p 83% of conference attendees are top-level professionals — senior developers, software architects and engineering leaders. How they have become successful? They are great at making choices. The conference is an important choice that will influence your career. Trust those who is already at the top.
              br
              .card.is-shadowless
                .card-content
                  .media
                    .media-left
                      figure.image.is-48x48
                        img.is-rounded(src="https://avatars.io/twitter/fmueller_bln")
                    .media-content
                      p.title.is-4 Felix Müller, Chief Architect
                      p.subtitle.is-6 @fmueller_bln via 
                        a(href="https://twitter.com/fmueller_bln/status/937354060440752129"): i.fab.fa-twitter
                  .content 
                    p Let me recap: an awesome first 
                      a(href="https://twitter.com/devternity") @devternity 
                      | ends now for me and 
                      a(href="https://twitter.com/aquagen") @Aquagen
                      | . High quality talks and a great venue. Highly recommendable next year. Thank you 
                      a(href="https://twitter.com/eduardsi") @eduardsi 
                      | and team of 
                      a(href="https://twitter.com/search?q=%23devternity&src=typd") #devternity 
                      | for organizing it 👍😊
              .card.is-shadowless
                .card-content
                  .media
                    .media-left
                      figure.image.is-48x48
                        img.is-rounded(src="https://avatars.io/twitter/aviranm")
                    .media-content
                      p.title.is-4 Aviran Mordo, Head of Engineering
                      p.subtitle.is-6 @aviranm via 
                        a(href="https://twitter.com/aviranm/status/936659963103137792/photo/1"): i.fab.fa-twitter
                  .content 
                    p Thank you 
                      a(href="https://twitter.com/eduardsi") @eduardsi 
                      | and 
                      a(href="https://twitter.com/devternity") @devternity 
                      | for a great conference, it was a blast!
              .card.is-shadowless
                .card-content
                  .media
                    .media-left
                      figure.image.is-48x48
                        img.is-rounded(src="https://avatars.io/twitter/evelgab")
                    .media-content
                      p.title.is-4 Evelina Gabasova, Trainer, F# and ML
                      p.subtitle.is-6 @evelgab via 
                        a(href="https://vimeo.com/247773795"): i.fab.fa-vimeo
                  .content 
                    p I think there should be more conferences like this. Everyone is really friendly and talks are really interesting!                    
              .card.is-shadowless
                .card-content
                  .media
                    .media-left
                      figure.image.is-48x48
                        img.is-rounded(src="https://avatars.io/twitter/rajwilkhu")
                    .media-content
                      p.title.is-4 Raj Singh, Technical Lead
                      p.subtitle.is-6 @rajwilkhu via 
                        a(href="https://twitter.com/rajwilkhu/status/936916292379983873"): i.fab.fa-twitter
                  .content 
                    p Thanks very much 
                      a(href="https://twitter.com/eduardsi") @eduardsi
                      | , the 
                      a(href="https://twitter.com/devternity") @devternity 
                      | team and the Dev community in Latvia for an amazing conference and after party. Looking forward to the next one! :-) 
              .card.is-shadowless
                .card-content
                  .media
                    .media-left
                      figure.image.is-48x48
                        img.is-rounded(src="https://avatars.io/twitter/ufried")
                    .media-content
                      p.title.is-4 Uwe Friedrichsen, CTO 
                      p.subtitle.is-6 @ufried via 
                        a(href="https://twitter.com/ufried/status/937578364050771968"): i.fab.fa-twitter
                  .content 
                    p 
                      a(href="https://twitter.com/devternity") @devternity 
                      | was a great experience! great conference, great people, great organization, great vibe. Really enjoyed it!  
                      i.fas.fa-heart.has-text-danger
            .tile.is-child
              p.title Know more than your competitors
              p In just two days, you will learn much more than your competitors, who attend narrow-focused conferences. We focus on the core areas that are paramount to your success — software architecture, clean code and leadership. All noise is removed. Start preparing for the role of software architect, engineering leader or CTO today. 
            .tile.is-child
              p.title Earn certificate of attendance 
                i.has-text-warning.fas.fa-trophy(aria-hidden="true")
              p After the conference, we issue an official, nice, laminated certificate of accomplishment, confirming the attendance of the conference. Use it for for boosting your credibility, enrich your LinkedIn profile or build a nice certificate wall.
            .tile.is-child
              p.title Get salary raise
              p We talk to our permanent attendees and many report increase in salary. Depending on the market, architects earn 25-70% than developers. Want to turn your 3K into 5K? Jump on the bus and learn things that matter.
            .tile.is-child
              p.title Enjoy perfect coffee by 
                img.is-inline.image.is-64x64.is-rounded(src="/images/illy.png")
              p What's the best coffee on the planet? It's Illy. Illy coffees are blended from arabica beans from multiple sources. The grounds are packaged in steel canisters and pressurized with an inert gas rather than air. DevTernity runs on Illy. And, like all best things in life, it's free.
            .tile.is-child
              p.title We buy you a lunch
              p You have only one stomack, but many conferences try to kill you with a baguette made of stone. We serve tasty, freshly cooked, organic food. Meat eater? Vegetarian? Vegan? We won't leave you hungry.
            .tile.is-child
              p.title Learn directly from industry influencers
              p Tired of Captain Obvious, marketing and Agile bullshit? We, too. We only invite speakers with outstanding technical and public speaking skills. Any exceptions, such as sponsored talks? Sorry, not at this conference.
            .tile.is-child
              p.title Have unbiased views
              p Do you know what's the real purpose of any vendor, technology or a language specific conference? Think of Kubernetes, Docker, Amazon... It's to make you dependent on the vendor for products and services, so you can't use another vendor without substantial switching costs. It's called "vendor lock-in". Here at DevTernity, you will get unbiased view on technology, trends and solutions. No sales. No hidden messages. Ever.
            .tile.is-child
              p.title Join respectful community
              p We are committed to providing a welcoming and harassment-free environment for participants of all races, gender and trans statuses, sexual orientations, physical abilities, physical appearances, and beliefs. 
                a(href="https://devternity.com/code_of_conduct.html") Here
                |  is our public commitment to doing all we can to ensure your safety.
            .tile.is-child
              p.title Use internet like a boss
              p Our hometown – Riga, is ranked among the top 10 fastest internet cities in the world. Urgent video call? Unfinished work? Millions of JS dependencies? No problem! Enjoy lightning-fast and free 4G and Wi-Fi everywhere – at the conference, in the hotel or a cozy coffee shop.
            .tile.is-child
              p.title Support diversity by choosing DevTernity
              p 
                | Every paid ticket helps to support members of underrepresented groups who may not otherwise have the opportunity to attend the conference. This includes, but is not limited to women, students, people of colour, LGBTQIA+ people, disabled people. Only together we can build supportive and humane community. Don't stand aside.
            //- .tile.is-child
            //-   p.title Perfect theory &amp; practice balance
            //-   p In just two days, you will become a better professional. The formula is simple: the knockout dose of inspiring talks, reinforced by a hands-on, power workshop of your choice. Works like a charm. Guaranteed.
            .tile.is-child
              p.title Get energised
              p To have energy for all the things you want to achieve, you need to fill up at some point. 
                b The search for the source of infinite energy is over. 
                | DevTernity will recharge your batteries so you have fresh head, lots of inspiration and superpower. Enough to produce outstanding results and perform like a pro.
                br
                br
                .embed-container
                  iframe#video(name="video" src='https://player.vimeo.com/video/247773795' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
            .tile.is-child
              p.title Build great relationships with your teammates
              p What can be better than a warm, welcoming and trusting relationship in a team? DevTernity, attended together with peers, serves as a great teambuilding. Learning together, being challenged, and having fun after the conference will leave a long-lasting, positive impact on your team's health and productivity.
            //- .tile.is-child
            //-   p.title Organizers who spoke at 100 events
            //-   p We attended 300 events all over the world. We spoke at 100 at least. The number is still counting. We saw it all from the bottom to the top. We talked to hunders of happy and frustrated attendees. We picked the best parts and dropped the nonsense. This is how DevTernity was born.
              //- img.image(src="/images/organizers_speak.jpg")
            //- .tile.is-child
            //-   p.title Addictive like a BMW ride.
            //-   p 80% of our attendees continue visiting the conference year after year. Other conferenes are out. It' like riding BMW. Try it once, and other cars do not exist anymore.
            //- .tile.is-child
            //-   p.title Money back guarantee
            //-   p We are responsible for what we say. It never happened before, but if we won't deliver to our promises – you get your money back. As simple as that.
            .tile.is-child
              p.title Listen to all talks in English
              p Have you attended the conference where some talks are in local language? It's when you listen for a talk and can't understand a damn thing. At DevTernity, we want you to understand everything, from A to Z. All talks are delivered in fluent, easy-to-understand English.
            .tile.is-child
              p.title Get access to YouTube channel
              p During the conference, you will have to make a choice which of 3 talks to attend. To make you feel at ease, we publish all videos on our 
                a(href="http://youtube.com/c/DevTernity") YouTube channel
                | . You will be the first person who gets access to the new videos. Missed a talk? Forgot a good idea? Want to watch the talk again? We've got you covered.
            .tile.is-child
              p.title Visiting from other country? You are super welcome.
              p We welcome attendees from Germany, Austria, Scandinavia, Estonia and many other amazing places. We make your arriving experience easy and smooth. You get everything you need, including city arrival guide, taxi coupons, Google maps directions. Who else is having a 24/7 service for travel assistance? 
                a(href="mailto:travel@devternity.com") 
                  i.fas.fa-envelope-open 
                  |  travel@devternity.com
          .tile.is-vertical.is-parent
            .tile.is-child
              p.title Make yourself a Christmas present
              p You worked 
                em so hard 
                | throughout the year. You want to celebrate your efforts, don't you? Make yourself the Christmas present you deserve – 
                b a ticket to the key tech conference of the year. 
                | Life is too short to not do what makes you happy.
                br
                br
                img.image(src="/images/present.jpg")
            .tile.is-child
              p.title The venue that will make your heart dance
              p
                | Bored of conferences that run in hotels, decorated with Soviet-style red carpets? Or spending the whole day in a dark cinema that make your eyes bleed? We feel your pain. Our venue, 
                b the Castle of Light
                |  – the winner of International Excellence Award 2018, is designed from scratch for stunning events. It's modern, light and has outstanding audio and video quality that will make your heart dance.
                br
                br
                .embed-container
                  iframe#video(name="video" src='https://player.vimeo.com/video/265964598' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
            .tile.is-child
              p.title Enjoy a calm room
              p To restore a bit of mental and physical energy sapped by the active day, you can hide in a quiet room. No crowds, no talking, no disturbance. Just you and the sounds of singing birds. 
                br
                br
                img(src="/images/quiet.jpg")
                h6.has-text-centered.subtitle.is-6 Kevlin Henney polishing his opening keynote. DevTernity 2017.
            .tile.is-child
              p.title Win books signed by IT celebrity
              p Reading is the key to success. During the event, you will get a chance to win a deck of trending, bestselling IT books. All books are authored by our speakers. Signed exclusively for you.
                img(src="/images/booksigning.jpg")
                h6.has-text-centered.subtitle.is-6 Sandro Mancuso signing his bestselling book – 
                  a(href="https://www.amazon.com/Software-Craftsman-Professionalism-Pragmatism-Robert/dp/0134052501") The Software Craftsman.
            .tile.is-child
              p.title Get your iPhone, PS4 or VR glasses. For free.
              p Every year, our participants win premium prices brought by our sponsors. Our sponsors are committed to make the event memorable. In fact, we work only with the sponsors who understand what developers like. Forget "exchange your email for a chocolate" type of things. Play big.
                br
                br
                img.image(src="/images/prizes.jpg")
                h6.has-text-centered.subtitle.is-6 Playstation winner at DevTernity 2016.                 
            .tile.is-child
              p.title Visit beautiful Riga
              p Riga, the capital of Latvia, is one of the top destinations in Europe and the largest of all three Baltic capitals. Art Nouveau architecture makes up roughly one third of all buildings, making Riga the city with the highest concentration of Art Nouveau architecture in the world. A must-see.
                br
                br
                img.image(src="/images/riga.jpg")
                h6.has-text-centered.subtitle.is-6 Panoramic view of evening Riga.
            .tile.is-child
              p.title Have fun      
              p After the conference, we enjoy unlimited supply of craft beer at Stargorod – the authentic Czech brewery. It's an amazing opportunity to meet old friends, teammates and, of course, argue with speakers until midnight.
                br
                br
                img.image(src="/images/stargorod.jpg")
      .container
        .columns
          .column
              p.title And finally. Meet us at the conference!
              p We are a super-diverse team of technology, design, management, life enthusiasts. We organize DevTernity because we believe that our industry needs more amazing events. DevTernity is manifestation of our values and beliefs. Here we are. It's really nice to meet you!
              br
              .columns.is-multiline
                each a in data.team
                  .column.is-2.has-text-centered
                    .box
                      img.image.is-64x64.is-rounded(src=`/images/${a.pic}` style="margin-left: auto; margin-right: auto")
                      p.is-size-7
                        h1.title.is-size-5 #{a.name}
                        h2.subtitle.is-size-6 #{a.job}
    section.section
      .container
        .buttons.is-centered
          a.button.is-large(href=data.selfLink) Conference info
          a.button.is-large.is-danger(href=data.register) Omg, count me in already!
    footer.footer
      .container
        .content
          p © DevTernity OÜ, 14226860, Mõisavahe tn 38-129 Tartu, Estonia.
          p
            .fb-like(data-width="320px" data-href="https://www.facebook.com/devternity" data-layout="standard" data-action="like" data-show-faces="true" )          
